<!DOCTYPE html>
<html>
<head>
    <title>Platos</title>
</head>
<body>
    <h1>Platos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Procedencia</th>
            </tr>
        </thead>
        <tbody>
            {% for plato in platos %}
            <tr>
                <td>{{ plato.nombre }}</td>
                <td>{{ plato.precio }}</td>
                <td>{{ plato.procedencia }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>